[2018-03-01 23:06] kirill-konshin opened #1 "Images are not served: 404 errors"
I have following `next.config.js`:

[code]

And this is the component:

[code]

Here is what I get:

![image](https://user-images.githubusercontent.com/1530410/36874792-1e4e3cac-1d62-11e8-9535-dc3049776cd3.png)
![image](https://user-images.githubusercontent.com/1530410/36874809-2b5c04d8-1d62-11e8-8d8d-f8088a8ae22c.png)

[2018-03-02 00:32] realalexhomer commented on #1
I had this issue it turned out the the limit was too low:
https://github.com/arefaslani/next-images/blob/master/index.js#L16

I fixed it by just adding this rule to the config manually like:

    config.module.rules.push({ // separate rule for svg so we can have no limit
      test: /\.svg$/,
      use: [
        {
          loader: "url-loader",
          options: {
            fallback: "file-lo

[2018-03-02 07:31] arefaslani commented on #1
@realalexhomer The limit is for creating base64 string from images under 8KBytes and insert image links for files more than 8Kbytes.

[2018-03-02 07:56] arefaslani commented on #1
@kirill-konshin It was a problem in my webpack config. I've corrected the public path. A new version (0.9.2) is available that solved this issue.

[2018-03-02 08:01] #1 closed

[2018-03-02 17:34] kirill-konshin commented on #1
Confirmed, it works.

[2018-04-08 12:28] Hurtak opened #3 "Make options.limit configurable"
Feature request: make `options.limit` configurable

[2018-04-09 07:09] arefaslani commented on #3
This feature is added in version 0.10.0

[2018-04-09 07:09] #3 closed

[2018-04-09 07:54] Hurtak commented on #3
Thanks.

Unfortunately it seems the commit broke path were image lives
https://github.com/arefaslani/next-images/commit/cca3ee0fa65cb4f6e408a157e3fd158d8423b11d

[code]

When I take a look inside my `.next` I see the image lives in `.next/static/images`.

[2018-04-09 08:10] arefaslani commented on #3
Oh sorry! I will correct this now.

[2018-04-09 08:22] arefaslani commented on #3
corrected in 0.10.1 patch.

[2018-04-13 21:47] felipero opened #4 "Next is not serving image files from _document.js"
When requiring images from `pages/_document.js` the file is created by webpack, but next won't serve it. See the image below:
![screenshot 2018-04-13 18 36 19](https://user-images.githubusercontent.com/21774/38758907-95a11654-3f49-11e8-914f-51193e13ee38.png)

I also created a repo to reproduce that: https://github.com/felipero/next_images_bug

[2018-04-14 17:57] arefaslani commented on #4
I've tested it in the _document.js file. This is my Document class:
[code]
Image loads properly. Could you copy the image url in the browser and see if it will be served or not at all? Image url should be something like:
`http://localhost:3000/_next/static/images/image-58c32891708391ddd8065000466a2fac.jpg`.

[2018-04-16 18:03] felipero commented on #4
Hi @arefaslani have you seen my repository? There you can easily reproduce the issue.

When I access the image url directly I get 404. The problem is related to different files on server/client.
You can take a look at the `next-optimized-images`fix for this: https://github.com/cyrilwanner/next-optimized-images/commit/201223697894f647f8dc0afb5acc68e23941b39b

I also opened an issue there, in case y

[2018-04-17 04:20] arefaslani commented on #4
Hi @felipero. Thank you for reporting the bug and suggesting the fix. I've fixed this issue in 0.10.2 👍

[2018-04-17 05:41] #4 closed

[2018-08-09 07:10] wenzf opened #6 "creating multiple images with different sizes"
Is it possible to to set the webpack configurations so that multiple images with different sizes are created from one initial image. This would help to deliver the right sized image depending on screen sizes / resolutions.
If it's possible to do this within next-images, I would be happy if you could give me some hints how to implement this.
Thanks a lot!

[2018-08-11 12:11] arefaslani commented on #6
This could be done with something like [responsive-loader](https://github.com/herrstucki/responsive-loader). But maybe working with remote images become a problem. For now, you can use this loader to do what you want. I will check how to do that when I have more time.

[2018-08-11 12:26] arefaslani commented on #6
I will close this issue. But you can reopen it if you think it should not be closed.

[2018-08-11 12:26] #6 closed

[2018-09-03 10:11] AmrAbdulrahman opened #7 "Can I use/tweak this plugin to also load images from scss files?"
The plugin perfectly works for requiring/importing images in ReactComponents
I just need it to work also for images in the styling files as following

[code]

Can this plugin be extended to handle this scenario as well?

[2018-09-03 11:13] arefaslani commented on #7
AFAIK no. Because it uses JavaScript require to load images and only work in JavaScript files. Please let me know if you had any solution.

[2018-09-03 11:13] #7 closed

[2018-09-16 09:03] bing1021 opened #8 "The image import in pkg don't work"
Hi! I use your pkg.

I used a pkg and the pkg import a image.  But webpack does't resolve the image.

Here is the error message

![7c24518b-7523-4cdd-8083-971cd9c1b841](https://user-images.githubusercontent.com/13826594/45594751-727f0d80-b9d2-11e8-8a11-8f8e5e823e95.png)

Why?

[2018-09-16 10:19] arefaslani commented on #8
@bing1021. I didn't tested it with other packages that import images. At the moment I'm so busy and I don't think that I can do much to solve the problem. Give me some time and I will take a look at it. Alternatively if you solved the issue please submit a pull request. Thanks :)

[2018-10-01 15:03] tarang9211 commented on #8
[code]
This configuration doesnt work.

[2018-10-01 15:07] tarang9211 opened #10 "Not working with multiple module.exports"
This is my `next.config.js` file. Any idea why this isn't working

[code]

I tried this also

[code]

The error says I need an appropriate loader.

[2018-10-02 13:15] arefaslani commented on #10
You are using withImages as an option for configuring withSass plugin. They are two separate plugins. You should call use them this way:
[code]
or use [next-compose-plugin](https://github.com/cyrilwanner/next-compose-plugins).

[2018-10-02 13:15] #10 closed

[2018-12-01 06:04] arefaslani commented on #8
@tarang9211 Hi! I've answered this question before in this issue https://github.com/twopluszero/next-images/issues/10.
Please check it out and if there is still problems, let's discuss about it on the related issue.

[2018-12-01 06:06] arefaslani commented on #8
Hey @bing1021. Could you please share steps to reproduce the issue?

[2019-01-28 10:23] SBoudrias opened #12 "Support dynamic assetPrefix"
Currently this plugin only works if `assetPrefix` is set at build step. (meaning it only support a static CDN)

This is quite hard to get working when considering apps running on multiple environments; where each environment could have a different CDN (like a production CDN vs a staging CDN.)

Furthermore, Next.js expose many ways to make the assetPrefix dynamic (like switching CDN domain based on

[2019-01-31 14:49] arefaslani commented on #12
@SBoudrias Sorry for late response. I'll work on that as soon as possible. But if you can help I'll appreciate that.

[2019-02-01 01:48] SBoudrias commented on #12
@arefaslani I gave this issue a try already, but I didn't find the right way. Any ideas?

[2019-02-01 03:40] arefaslani commented on #12
@SBoudrias Currently I'm so busy. But be sure that I'll put the effort to find a solution soon.

[2019-02-01 08:27] SBoudrias commented on #12
Just to give some details, this here works when navigating on the client side:

[code]

Just removing the `publicPath` means webpack will use the `__webpack_public_path__` value; and Next.js sets it to `assetPrefix` automatically.

But this value doesn't exists when rendering on the SSR, which mean we then end up with the relative path, and that ends up being sent with the server rendered HTML; ca

[2019-02-12 09:17] arefaslani commented on #12
@SBoudrias Sorry for late reply. Can you check these comments to see if they help?

https://github.com/webpack/webpack/issues/2776#issuecomment-233104666
https://github.com/webpack/webpack/issues/2776#issuecomment-233208623

[2019-02-12 14:11] SBoudrias commented on #12
Interesting, but I don't think the issue is about hoisting here. Next.js just do not try to set this value on the server side.

[2019-02-25 18:25] vget98 commented on #8
I am having this exact problem and was hoping for an update

[code]

[2019-02-26 08:25] arefaslani commented on #8
Hi @vget98, Can you provide a small project that causes this error so that we can find and resolve the issue?

[2019-02-26 16:31] arefaslani commented on #12
@SBoudrias I don't think that it's possible to use dynamic imports in Webpack configuration as in the Next app. Because Next sets the asset prefix [in the app level](https://github.com/zeit/next.js/blob/6dfcacb7bfe8df46299116d4524df987aa86dfc0/packages/next-server/server/next-server.ts#L115-L117) but we can't do that when defining Webpack loaders. I think the best way for doing this is by using an

[2019-02-26 16:31] #12 closed

[2019-03-07 23:01] arctouch-rodrigoteobaldo opened #15 "Using next-images with svg components"
It's possible to use next-images with SVG components (with https://github.com/airbnb/babel-plugin-inline-react-svg)? I tried but without success. When using both I'm not able to import SVG as a component, just as a URI. It's like next-images overridden it.

[2019-03-09 07:58] arefaslani commented on #15
I think it would be a good idea to create a URL parameter for ignoring specific import expressions
[code]

or add a configuration option to ignore all imports of a type:
[code]
I will add a solution for it ASAP.

[2019-03-10 22:37] arctouch-rodrigoteobaldo commented on #15
It wasn't expected that `exclude` resolves this? In some cases and I want to keep some svgs as just images and some cases I want to use svg as a components to add some style. I tried to add a `exclude` in config but this doesn't works to me.

[2019-03-11 05:16] arefaslani commented on #15
Did you try the `exclude` option? It's only available in version 1.1.0 and higher. I don't think that it solves your problem because I'm guessing what is happening is that `next-images` is overwriting `babel-plugin-inline-react-svg`. So I think the best solution to this problem is by disabling next-images for some imports or some file types.  If you can, please test the exclude option to see wheth

[2019-03-11 22:58] arctouch-rodrigoteobaldo commented on #15
Yeah, I tried and both don't work even with exclude. The import doesn't print any URL neither work as a SVG component.

[2019-04-07 04:06] arefaslani commented on #15
@arctouch-rodrigoteobaldo Sorry to coming back to you this late. I've figured out that a simple solution would be using the `resourceQuery` option of Webpack rules. But it doesn't work with negative regex lookup. I've created an issue on the Webpack project 22 days ago, but it doesn't have any response till now. Also I've created a question on the stack overflow and I asked help on the Webpack git

[2019-04-08 14:23] arctouch-rodrigoteobaldo commented on #15
Sounds good. Thank you for the work.

[2019-05-16 04:06] advaitju opened #16 "Issues with image dynamic import"
I'm keeping images in an `images/` folder and URLs in a data file. I'd like to dynamically import the images so I can load a large number of images easily.

I thought this could be done using dynamic imports, however it seems that functionality only supports Js modules. Will this be supported in the future or am I totally off the mark on this one?
[code]
I'm getting the error **Error: Cannot find

[2019-05-16 04:37] arefaslani commented on #16
Can you share an example URLs file?

[2019-05-16 05:10] advaitju commented on #16
Example URLs files.
[code]
For now I've decided to do this - which achieves what I wanted. Dynamic imports would be nice to have, but I guess they're not needed for this particular use case.
[code]
It would still be great to be able to import programatically if there are lots of images used in a grid/slider.

[2019-05-16 11:16] arefaslani commented on #16
@advaitju I'll take a look ASAP.

[2019-05-23 15:41] AndrewIngram commented on #16
I'd just use this babel plugin for this kind of thing:

https://github.com/novemberborn/babel-plugin-import-glob

[2019-05-23 23:17] advaitju commented on #16
Thanks Andrew, I didn't know about this particular plugin. I think it might solve this use case.

[2019-05-24 08:37] arefaslani commented on #16
@advaitju Do you think this plugin solves your issue? If so, we can close this issue.

[2019-05-25 00:53] advaitju commented on #16
No worries, thanks for your help Aref. The plugin solves my problem.

[2019-05-25 00:53] #16 closed

[2019-05-26 01:22] veksen commented on #15
Is there a solution for this? Really can't seem to get it to work, and would prefer to avoid using the suggested svg-react-loader (the API is messy IMO).

[2019-05-31 19:08] tcelestino opened #17 "Implements settings custom build directory"
Next.js implements custom build using to `distDir` object in _next.config.js_.

Did you think to add in next-images?

Link: https://nextjs.org/docs#setting-a-custom-build-directory

[2019-05-31 19:22] #17 closed

[2019-06-03 05:30] arefaslani commented on #15
@veksen I think the best way to implement this feature is to add a query param to force Webpack to ignore next-images loader. I've configured that with 'resourceQuery' param:

```resourceQuery: /^((?!ni-ignore).)*$/i,```

But now it doesn't work without a query param and you must provide even an empty param to make it work:

import Blah from "blahblah?"

Do you have any suggestion? Or I should put

[2019-07-06 10:28] aminkhademian commented on #15
@veksen @arctouch-rodrigoteobaldo Today I was developing a `ni-ignore` resource query to force `next-images` to ignore imports with this query parameter. Then I realized that there is no problem using both packages together.

First you should install the airbnb babel plugin:
[code]

then create a `.babelrc` file:
[code]
Don't forget to add `next/babel` preset. Then you can easily use svg files as

[2019-07-06 10:29] aminkhademian commented on #15
Feel free to reopen this issue if you think the problem is still there.

[2019-07-09 11:23] MrRhodes opened #20 "assetPrefix is undefined"
I've just encountered an issue were `assetPrefix` was undefined and was setting my image assets to be `undefined/_next/static...`

I believe it is on this line when creating the new `nextConfig` https://github.com/twopluszero/next-images/blob/73b49921e870d4f1e75c32bf7d7c3269375af51b/index.js#L5

if `nextConfig` already has assetPrefix set as `undefined` it does not default to `""` and then causes

[2019-07-10 10:53] #8 closed

[2019-07-10 10:54] arefaslani commented on #8
I've closed this issue because it doesn't have any new conversation. Feel free to reopen it if you think you still have the problem.

[2019-07-10 10:55] arefaslani commented on #20
@aminkhademian Can you take a look at this issue?

[2019-07-10 17:52] michaelchiche opened #21 "Can't import image inside tsx file in nextjs 9"
I am trying to use this plugin with nextjs 9.
When importing an image inside a .js file, it works fine, but fails when importing inside a tsx file.

[2019-07-11 16:25] arefaslani commented on #21
Thank you for reporting. I'll fix it tomorrow.

[2019-07-25 17:25] v1rtl commented on #21
I have the same issue on Next.js v9.0.2 and next-images v1.1.2

[code]

my ts config:

[code]

my `next.config.js`:

[code]

[2019-07-30 05:56] EladKarni opened #22 "Can't setup package. I get Error - Failed to Compile"
https://i.imgur.com/Z1Ga74q.png

Here is the error I'm getting

[2019-08-08 08:55] StefKors commented on #21
any progress on this issue?

[2019-08-09 08:26] arefaslani commented on #21
Unfortunately not. ATM I'm too busy working on our startup. I checked it once but it had no progress because I hadn't enough time. Please contribute if you have any solution or wait until I can resolve this issue. Thank you.

[2019-08-14 07:29] eugef commented on #12
I have exactly the same issue with SSR images not picking up the `assetPrefix`.
But on top of that I am dynamically change `assetPrefix` per request as described here https://github.com/zeit/next.js#dynamic-assetprefix

This means I cannot use previous solution, as ENV variable is not bounded to the request context and two simultaneous requests will override the same variable.

Do you have any sug

[2019-08-19 12:08] MilanLempera commented on #21
this is only typescript problem, you can avoid it by ts module definition for image types in d.ts file

e.g.
[code]

[2019-09-04 10:31] rtatarinov commented on #21
@MilanLempera Thanks. it works for me

[2019-09-05 07:56] michaelchiche commented on #21
same for me! thanks

[2019-09-05 07:56] #21 closed

[2019-09-05 10:00] arefaslani commented on #21
@MilanLempera Could you implement it in the library or in the readme file??

[2019-09-05 10:03] arefaslani commented on #22
@EladKarni Could you share you NextJS configuration?

[2019-09-05 11:53] MilanLempera commented on #21
@arefaslani https://github.com/twopluszero/next-images/pull/23

[2019-09-08 05:45] arefaslani commented on #12
I should work on it in my holiday this week...

[2019-09-08 11:21] hutber commented on #22
Have to say, coming new to jextjs I also had the same error. But I know fullwell i have not setup nextjs correctly.
[code]

[2019-09-08 11:24] hutber commented on #22
Updating to this:
[code]

[2019-09-10 20:07] #22 closed

[2019-09-14 14:43] arefaslani commented on #21
This issue is solved in version 1.2.0 thanks to @MilanLempera 🎉

[2019-09-20 01:35] tangye1234 commented on #15
The problem is that, inline-react-svg can receive svg properties like 'viewBox', but next-images cannot.

![image](https://user-images.githubusercontent.com/447084/65292455-1b35ef00-db8a-11e9-8a00-ccadb4b895b8.png)

[2019-11-05 19:21] maciejmajewski commented on #12
@eugef @arefaslani have you found a solution maybe? I can confirm that webpack uses correct `assetPrefix` when doing CSR, but doesn't with SSR.

[2019-11-05 23:56] maciejmajewski commented on #12
So FYI I was able to make it work with following config:

[code]

`postTransformPublicPath` is available in `file-loader` from version `4.2.0`: https://github.com/webpack-contrib/file-loader/blob/master/CHANGELOG.md#420-2019-08-07

----

Edit: to clarify, this sample helps set proper public path when SSR doesn't have proper value for `__webpack_public_path__`, it does not solve issues with having

[2019-11-06 09:12] eugef commented on #12
@maciejmajewski please correct me if I am wrong, but your solution still doesn't allow to have different asset prefix per request, as `postTransformPublicPath` doesn't have access to the request context.

[2019-11-06 10:42] maciejmajewski commented on #12
@eugef Unfortunately this wasn't my use-case so I didn't have to go that far, my apologies for false hope. With my sample I have solved SSR not having proper value for `__webpack_public_path__`.

[2019-11-06 11:08] SBoudrias commented on #12
@maciejmajewski could you send a PR to this plugin so this part can be fixed?

[2019-11-15 06:50] OscarBarrett opened #24 "Provide the ability to exclude image imports for only certain file types"
Our use case: We want to use next-images for everything except SVGs. For SVG's we want to use a babel plugin to handle svg imports and include them directly into the rendered output.

Setting `exclude` to `/\.svg$/,` works fine however we lose the ability to import SVG's in css/scss files entirely.

At the moment we are adding the following to our webpack config:
[code]

Which works great, but it

[2019-12-16 15:00] zahraHaghi opened #25 "next-image config with @zeit/next-css"
hello .my next.config file is
[code]
I installed next-image and added it to config:
[code]

but I got this error
[code]
how can I resolve this problem?

[2019-12-24 08:34] arefaslani commented on #25
@zahraHaghi Sorry for the late reply, you should also embed the `withImages` function call as `withCSS` and `withSass`. Something like this:

[code]

You also can use `next-compose-plugins`.

[2019-12-24 08:34] #25 closed

[2020-01-04 07:19] arefaslani commented on #24
How about adding an option to ignore some extensions?

[2020-01-12 12:39] romikette opened #28 "Add support for jpeg 2000 for Safari and iOS Safari?"
As google pagespeed is asking us to deliver images in more performant formats I was wondering if you might be able to add support for .jp2/.jpx image formats.

At this moment Safari and iOS Safari do not support .webp.

Thanks!

[2020-02-21 08:10] #28 closed

[2020-03-23 11:34] tomdohnal opened #31 "Breaks with native css/sass/scss in Next.js 9.3+"
Next.js now imports images from css/sass/scss file by itself and we use `next-images` package together with it, it breaks the native image import in css/sass/scss functionality.

As suggested in [this issue](https://github.com/zeit/next.js/issues/11164#issuecomment-602005679), the solution is to check the `issuer` in the `webpack` rule specification.

I can create a PR with the fix if you're inter

[2020-03-23 12:17] arefaslani commented on #31
Thanks @tomdohnal  for reporting this issue. I'll fix that today and will release a new patch for that.

[2020-03-28 03:54] stegano commented on #31
Hope this issue will be resolved quickly

[2020-03-28 06:40] arefaslani commented on #31
@tomdohnal @stegano This issue is fixed now. I'm really sorry, I had two projects to work on and it took me some time to come back to this repo and fix this issue.

[2020-03-28 06:40] #31 closed

[2020-03-28 07:12] stegano commented on #31
Thanks for fixing this issue 👍  It works!

[2020-03-28 10:43] tomdohnal commented on #31
No worries at all :) Thank you for the fix :)

[2020-03-30 18:58] NikoMontana opened #33 "Is this lib breaking caching?"
I would like to know if this lib is breaking the core functionalities like CDN caching when deployed to zeit.now?

[2020-04-01 02:10] gavinsharp opened #34 "1.4.0 broken when used with custom CSS webpack config (e.g. next-css plugin)"
Our Next app still uses [`next-css`](https://github.com/zeit/next-plugins/tree/master/packages/next-css) (despite built-in CSS support as of 9.2) because of some legacy requirements and subtle differences in how the two behave (`next-css` allows imports of CSS outside of `_app.js`).

Upgrading to 1.4.0 of `next-images` broke our app:
[code]

`slick-theme.css` has image imports.

This change https:

[2020-04-01 02:14] gavinsharp commented on #34
It is obviously annoying to try to chase compatibility with custom configs, so I feel like the only option for this is WONTFIX (which I would be fine with, we plan to stop using next-css as soon as we can), or reverting that change in 1.4.0 (not sure if it is just an optimization or if it was fixing a bug).

[2020-04-01 16:12] sks-2410 commented on #34
@gavinsharp Feel you, bro. I wasted my whole day because of this.

[2020-04-02 21:22] zyqxd commented on #15
@aminkhademian Yes this is still an issue, specifically around the typing [here](https://github.com/twopluszero/next-images/blob/master/index.d.ts#L17) like @tangye1234 mentioned

This overwrites our global typing to make svg imports work with react-inline-svg.

Workaround is to use [path mapping](https://www.typescriptlang.org/docs/handbook/module-resolution.html#path-mapping) to redirect `next-i

[2020-04-11 22:43] mikailyildiz opened #35 "Custom hash should be added, for example next build_id (next generateBuildId)"

[2020-05-01 05:02] msheakoski commented on #34
For me, this error also occurs when using Next.js's built-in CSS support (no next-css package is installed). I am doing a simple `<img src={require("path/to/image.png")}/>` in a component. The errors do not happen on the previous version, 1.3.1.

Swapping out next-images for [next-optimized-images](https://github.com/cyrilwanner/next-optimized-images) (tested with 2.6.0) fixed the issue. It seems

[2020-05-01 10:39] arefaslani commented on #34
@gavinsharp I'm super sorry for the late response. Thanks for reporting and helping to fix it. WIill check it right now.

[2020-05-05 09:07] OscarBarrett commented on #24
So since next 9.3 and [this change](https://github.com/twopluszero/next-images/issues/31), next handles images coming from stylesheets and so only an exclude rule is needed to take over svg handling from next-images.

I can't think of another use case for ignoring specific issuers, so I'll mark this as closed. :+1:

[2020-05-05 09:07] #24 closed

[2020-05-05 20:38] LucasMallmann opened #36 "Breaks with next-pwa"
Hey there! I'm trying to setup next-images along with next-pwa, but for some reason whenever I try to put these two plugins together, the next-pwa breaks due to next-images.

I'm using next-compose-plugins to put then together, but I really have no idea why this is happening.

### My implementation
[code]

[2020-05-06 18:09] LucasMallmann commented on #36
Well, actually I managed to resolve it. It was a configuration I was doing wrong, but now it's working fine :D

[2020-05-06 18:09] #36 closed

[2020-05-06 18:11] arefaslani commented on #36
@LucasMallmann Great! To be honest, I'm really busy these days and any help is welcome. But I'm happy that your problem is resolved :)

[2020-05-07 00:15] agustif commented on #36
Do you mind sharing your working config? Thanks!

[2020-05-07 13:34] LucasMallmann commented on #36
@arefaslani no problem! Thanks for the attention :D

[2020-05-07 13:36] LucasMallmann commented on #36
@agustif sure, no problem!

[code]

The problem was that I'm using next-compose-plugins, but I guess I was not writing the configs right, so that's why it was causing me trouble!

[2020-05-28 22:55] raindecastro opened #37 "How will I be able to set Cache control for the images?"
My main image keeps on fetching and I want to be able to cache it.

This is the header that i'm getting in dev tools - Cache-Control: public, max-age=0

Is there a way for me to chance the max-age?

[2020-05-29 12:47] quadsurf opened #38 "Error: Module [the imported image] not found"
I'm on NextJs 9.3.4 so I'm not using /static  nor  /public/static

steps to reproduce...
- i place image in /public sub-dir
- i call it using your import and API from within my  /pages  jsx files, as per docs
- i reboot the local server after adding image to /pages jsx files
- it fails to compile, with this exact error:

`Failed to compile`
`./pages/index.jsx`
`Module not found: Can't resolve './t

[2020-05-29 12:52] agustif commented on #38
do you add to next.config.js

withImages({your config})

?

[2020-06-02 00:10] #37 closed

[2020-06-02 00:10] raindecastro commented on #37
Was able to fix it up when I reconfigured my express app

[2020-06-02 00:31] raindecastro opened #39 "Module parse failed - using SCSS to set background image"
![Screen Shot 2020-06-02 at 8 08 50 AM](https://user-images.githubusercontent.com/22409044/83466979-3db73080-a4ab-11ea-8335-3d6f472cd015.png)

I saw that the recent version of next-images was updated in order to fix this, but for some reason I can't get mine to work. Is there something wrong with my configuration?

[code]

[2020-06-02 08:05] arefaslani commented on #39
@raindecastro Please make sure that you have the latest version of the `next-images` and also try to remove empty configurations object. I just want to see if there is a bug in next-images...

[2020-06-03 00:30] raindecastro commented on #39
@arefaslani Thanks for the help! My next-images is currently at version 1.4.0
I tried it again without the configuration and unfortunately wasn't able to get it to work.

Here's my full next.config.js file

[code]

[2020-06-18 08:14] aimichal commented on #37
@raindecastro Hi! I'm also seeing `Cache-Control: public, max-age=0` for requests like `/_next/static/images/blah-abc123...jpg`. Can you say what you did in the express server to configure the cache-control header for images?

[2020-06-18 21:14] raindecastro commented on #37
@aimichal For sure! here's the code snippet, it's just pretty much getting the path of the image files and setting their headers.

[code]

[2020-07-05 05:03] karpkarp opened #40 "Not working for yarn workspace shared component import"
When importing a shared React component from another workspace that imports an image using `require("../path/to/image`) or `import image from '../path/to/image'`, it throws the same error

[code]

[2020-07-14 11:13] jptaylor commented on #15
The issue seems to be that you can either import SVGs as React components or as as URIs, but not both.

For example:

[code]

Means that this will work:

[code]

But this will not work:

[code]

I think the way CRA does this is ideal:

[code]

[2020-07-30 08:21] valse opened #42 "Not working with webpack 5 beta"
Hi, I'm trying to add the webpack 5 beta but I have this error on compilation:

[code]

Maybe are you missing the `oneOf` rule before the `use` one?

[2020-07-30 08:23] chuyik commented on #42
It's already fixed but not released yet, check out: https://github.com/twopluszero/next-images/commit/01d3b2b89d88748cb4c43d54319c88fe06cd75b7

[2020-07-30 08:30] arefaslani commented on #42
@chuyik @valse Just released a new patch considering the update. Thanks @chuyik. Checkout version 1.4.1.

[2020-07-30 08:30] #42 closed

[2020-08-13 06:39] abhijit-hota opened #45 "How to import CDN delivered images?"
This is what my current `next.config.js` looks like.
[code]
As mentioned, I'm using the `assetPrefix` option.

But how do I import it in different pages and components?
I've tried with `src={require(`/css3.svg`)}`  but it doesn't work.

[2020-09-08 09:51] typeofweb commented on #15
Should this be reopened?

[2020-09-08 22:34] edoantonioco commented on #34
Version 1.3.1 works fine, 1 4.1 does not

[2020-09-09 03:04] TroyTae opened #47 "RFC: uglify option"
Hello thank you for your maintaining.

I wanna reduce filename in production.

So how about add `uglifyFileName` option?

If you allow, I wanna send a PR using this [library](https://www.npmjs.com/package/uglify-set).

[2020-09-10 04:53] TroyTae commented on #47
@arefaslani
I put a mention in case the notification didn't go off.

[2020-09-10 05:38] arefaslani commented on #47
Hey @TroyTae! Thanks for reporting this, but to be honest I didn't get what you mean by uglifying filename and BTW we're using hashes in filenames to deprecate caches on new builds. The other thing is that we want it to be super small and minimal. Please don't hesitate to reopen this issue if you think we definitely need this.

[2020-09-10 05:38] #47 closed

[2020-09-10 05:45] ghost commented on #47
@arefaslani
Hello, thank you for reply.
I didn't write issue in detail. Sorry 😅
As you know, `next-images` uses `[name-hash]` pattern.
But I think generated file name is too long.
So I made `uglify-set`, this module can reduce file name length:
[code]
If we provide this option, people can reduce bundle size in production :)

[2020-09-10 05:53] ghost commented on #47
@arefaslani
Hmmm apart from the above comment, it seems this repo is configured that author cannot reopen issue

[2020-09-10 05:55] arefaslani commented on #47
* If original issue creator closes the issue, they can then reopen it
* If a contributor closes the issue, the original issue creator is not able to reopen it

Sorry that was something I wasn't aware of that.

The problem with uglifying names to be like `A.png` is that the chance that you be able to expire previous caches will reduce dramatically. The reason we're using hashes in filenames is that

[2020-09-10 06:08] ghost commented on #47
@arefaslani
Isn't it nextjs control the caching of static files?
The files of `public` directory maintain same name.
But if I change file, it reflects well.

[2020-09-10 06:12] arefaslani commented on #47
The browser caches files based on the names and it's a good practice to generate filenames that reduce the chance of mistakes like this. Rails for example does the same thing for asset names.

[2020-09-10 06:16] ghost commented on #47
@arefaslani
Ah I see, I think it'll be fine because Etag is changed automatically.
Anyway I understand what you mean.
Thank you for explaining 👍

[2020-09-11 07:37] weeeziyuanli opened #48 "You are using withImages as an option for configuring withSass plugin. They are two separate plugins. You should call use them this way:"
I use bottom config, but no work
[code]
scss文件中
[code]

_Originally posted by @arefaslani in https://github.com/twopluszero/next-images/issues/10#issuecomment-426269041_

[2020-09-17 19:23] #20 closed

[2020-09-17 19:26] arefaslani commented on #33
You've surely know that ATM, but in case someone else has this question, no it doesn't break the cache functionalities.

[2020-09-17 19:26] #33 closed

[2020-09-17 19:29] #34 closed

[2020-09-17 19:29] arefaslani commented on #35
Could you elaborate more on this? Feel free to reopen a new issue or a PR if you like.

[2020-09-17 19:30] #35 closed

[2020-09-17 19:30] #38 closed

[2020-09-17 19:33] arefaslani commented on #39
Sorry for the late response, unfortunately, I didn't have a lot of free time to fix all the issues of the package in the past couple of months. If the problem hasn't resolved yet, please open a new issue.

[2020-09-17 19:33] #39 closed

[2020-09-17 19:34] arefaslani commented on #40
@karpkarp Have you been successful to fix it? Maybe you can solve the problem of some other guys :)

[2020-09-17 20:49] kylemh commented on #24
Just a heads-up @OscarBarrett

I've resolved this and I'm sure a new version will release soon giving you the ability to choose the file suffixes that `next-images` cares about.

[2020-09-24 16:21] kmacdonaO opened #51 "Please add a license file and specify the copyright holder"
The package.json indicates MIT License which is good but it's also a good practice to include a LICENSE or license file in your repo and this file would also have a line to specify who is the copyright holder.

Some company's need to see those copyrights to allow their employees to use open source packages...

[2020-09-24 18:55] arefaslani commented on #51
@kmacdonaO Good point. Will add it. Thanks for reporting, because I also work for a licensing company ATM :D

[2020-09-24 19:00] #51 closed

[2020-09-24 19:00] arefaslani commented on #45
Will get fixed after merging this PR:
https://github.com/twopluszero/next-images/pull/44

[2020-09-24 19:01] kmacdonaO commented on #51
thanks!

[2020-09-24 19:03] arefaslani commented on #51
@kmacdonaO  I've just added it. You'll see it also in the package in the next release. Hopefully this weekend.

[2020-10-08 12:12] OZZlE opened #54 "How do you set other configs not related to this module??"
For example: https://www.npmjs.com/package/nextjs-basic-auth-middleware

Requires next.config.js:

    module.exports = {
        experimental: {
            documentMiddleware: true
        }
    }

    // or

    module.exports = (phase, { defaultConfig }) => {
      return {
        experimental: {
            documentMiddleware: true
        }
      }
    }

[2020-10-08 12:55] OZZlE commented on #54
Seems like the options are sent down as well so this should work??

    const withImages = require('next-images')
    module.exports = withImages({
      experimental: {
        documentMiddleware: true
      }
    })

Even though this option is not related to withImages.. If that is the case would be good to have in Readme :)

[2020-10-12 12:39] #54 closed

[2020-10-15 03:09] GautheyValentin opened #55 "Regex not compatible IOS / Safari"
Hello,

`issuer: /\.\w+(?<!(s?c|sa)ss)$/i,`

Create JS crash on Safari / IOS

To tempory fix, i use @1.3.0

If you have a other solution

[2020-10-19 05:33] arefaslani commented on #55
@GautheyValentin Can I ask which versions of Safari are you using?

[2020-10-19 19:19] GautheyValentin commented on #55
@arefaslani Hello 14.0 on macOS
You want i provide some screen with error ?

[2020-10-20 03:50] arefaslani commented on #55
@GautheyValentin Yeah that'd be also nice 👍

[2020-10-20 06:12] GautheyValentin commented on #55
@arefaslani   ![Capture d’écran 2020-10-20 à 08 09 51](https://user-images.githubusercontent.com/18257114/96547207-fbe92400-12ab-11eb-90a4-e457d176b614.png)

[2020-11-04 08:35] vincentpham13 opened #59 "It does not work"
Which folder did you mean to put the images?
I created an `images` folder inside the `public` folder but still got the error.
As your guide, the image should be located in the same directory of the code file, that's so weird.

[2020-11-05 14:03] massmediagroup-93 commented on #15
instead of `ignoreTypes: ["svg"]` should be `exclude: path.resolve(__dirname, 'src/images/svg')`
// next.config.js
const path = require('path');
const withImages = require('next-images')
module.exports = withImages({
  exclude: path.resolve(__dirname, 'src/images/svg'),
  webpack(config, options) {
    return config
  }
})

better to use it with next-compose-plugins
const path = require('path');
c

[2020-11-05 14:37] arefaslani commented on #15
We also have added an option to whitelist file extensions:
https://github.com/twopluszero/next-images#file-extensions

Please let me know to close this issue if this solves your problem.

[2020-11-12 18:03] velkony opened #60 "Loading background image from SCSS doesn't work"
I would like to specify that the components and scss files are loaded from node_modules

Example:

//index.scss
...
.global-footer {
  background: #34322f url('./images/footer-bg.png');
}

The image is loading as I commented "issuer: /\.\w+(?<!(s?c|sa)ss)$/i,", but it is currently in base64 encoded version.

I would like to have the following result:
url('/_next/static/images//footer-bg-5216de428a

[2020-11-13 11:34] #60 closed

[2020-11-28 09:02] thanhtoan1196 opened #61 "Error: You may need an appropriate loader to handle this file type"
In component file: `<img src={require('../static/images/icon.png')} />`
In `next.config.js`:
[code]
Error:
[code]
Version: 1.6.2

[2020-12-03 10:05] crslegend commented on #61
+1 facing this issue as well

[2020-12-03 10:19] arefaslani commented on #61
You shouldn’t  call the function after requiring the package. Please change the require statement to:
[code]

[2020-12-03 10:24] arefaslani commented on #59
Hey @vincentpham13. Sorry for the late response. The image could be anywhere, but I prefer to put it alongside the component file. As you see in this example:
[code]
the relative path is showing that the image is alongside the component itself. So to make it more clear, suppose that the component in the previous example is in this path: `/components/MyAwesomeComponent/index.js`, then the image fil

[2020-12-03 10:24] #59 closed

[2020-12-03 10:27] arefaslani commented on #55
Have you been successful in solving this issue by now? Sorry, I just came back to check the issues. Seems like I need to change the regex to make it also compatible with the browsers you mentioned.

[2020-12-03 10:27] #45 closed

[2020-12-03 10:28] #15 closed

[2020-12-03 10:28] #40 closed

[2020-12-03 16:09] GautheyValentin commented on #55
Hi,

I just downgraded to `1.3.0` because it was an old regex and i didn't fixe this issue.

But maybe is my fault, what is your tsconfig ?

[2020-12-04 13:14] arefaslani commented on #55
Actually, I don't work with Typescript, but I'll definitely try to see what's wrong...

[2020-12-11 07:50] vsachini opened #62 "Support absolute path"
Does next-images supports absolute path?
I'm trying to import a .svg but I'm getting an error.

Code:
<img width="543" alt="image" src="https://user-images.githubusercontent.com/51142321/101877007-52961e80-3bc8-11eb-94d6-5106c7914b24.png">

Error:
`Error: /Users/v/project/src/components/home/Header.tsx: Cannot find module 'src/assets/menuIcon.svg' from '/Users/v/project/src/components/home'`

[2020-12-13 07:07] arefaslani commented on #48
@weeeziyuanli Please also try this package to compose plugins:
https://www.npmjs.com/package/next-compose-plugins

[2020-12-13 07:07] #48 closed

[2021-01-17 12:04] megazazik opened #63 "dynamicAssetPrefix does not work as expected"
I need to change CDN host after build when server starts.
I try it with statically generated pages (using `revalidate` option of `getStaticProps`) and with dynamically generated pages.
All urls change correct except urls to images which I import from js.

I have tried to use `dynamicAssetPrefix`. My `next.config.js` looks like this:
[code]

If I set `CDN` at build time then this CDN host still doe

[2021-01-17 13:18] arefaslani commented on #63
Hi @megazazik, could you give me an example component so that I can see how you want to use it?

[2021-01-17 13:23] megazazik commented on #63
My component looks like this
[code]

[2021-01-17 15:33] arefaslani commented on #63
@megazazik Seems like it's but. Working on it ATM...

[2021-01-17 16:19] arefaslani commented on #63
@peter-jozsa I think the solution we've added doesn't work. Could you also take a look?
There's also another problem I found:
https://github.com/twopluszero/next-images/blob/master/index.js#L37
I think we need to remove `!nextConfig.assetPrefix` condition from this line, else it'll never get executed. Because if `dynamicAssetPrefix` is false, it'll skip this block and if it's true, it should get i

[2021-01-18 10:44] peter-jozsa commented on #63
@megazazik You should leave `assetPrefix` empty during build time and `dynamicAssetPrefix` should be `true`. During runtime both `dynamicAssetPrefix` and `assetPrefix` should be set: `assetPrefix` must be the URL which will be prepended to image URLs. You should not get errors like that during build time. Could you share with us exactly which version of next and webpack are you using? Could you al

[2021-01-18 10:47] arefaslani commented on #63
@peter-jozsa

Ah that would be great! and thanks for the fast response 🙏

[2021-01-18 11:56] peter-jozsa commented on #63
I created the PR: #64

[2021-01-18 13:27] megazazik commented on #63
@peter-jozsa I have just created a new project via `npx create-next-app`. So there is the latest version of next. I did not make any config changes except adding `next-images`. And I use `next build` command for build.
And yes, the error occurs only when I use statically generated pages.

[2021-01-18 13:32] peter-jozsa commented on #63
@megazazik thanks for your quick response and sharing these information with us. I will look into it today and hopefully I will be able to come up with a solution/fix.

[2021-01-18 13:55] peter-jozsa commented on #63
@megazazik I found the cause of your problem: the main reason why your build fails is because public runtime configuration is not available in statically generated pages. The next.js docs says it [here](https://nextjs.org/docs/api-reference/next.config.js/runtime-configuration)

Unfortunately we don't have any workaround for this issue at the moment.

@arefaslani we should make this clear in the R

[2021-01-18 14:28] arefaslani commented on #63
@peter-jozsa Yes, I agree.

[2021-01-19 00:41] megazazik commented on #63
@peter-jozsa thanks for clarifying!

We really can't use `publicRuntimeConfig` at statically generated pages but we can use `serverRuntimeConfig` at any pages during SSR.
And inside a browser the `__webpack_public_path__` variable  is available.
Next.js sets it at the client
https://github.com/vercel/next.js/blob/master/packages/next/client/index.tsx#L73

So `dynamicAssetPrefix` can work everywher

[2021-01-19 00:49] megazazik commented on #63
I created a PR. https://github.com/twopluszero/next-images/pull/65

[2021-01-19 06:32] arefaslani commented on #63
@peter-jozsa @megazazik Thank you both for creating PRs and improving the package. Let me check the changes this afternoon. I will talk to you soon 👍

[2021-01-19 08:19] peter-jozsa commented on #63
@megazazik Wow nice, I checked your PR I think it makes sense and would solve this issue for sure. Thanks for your contribution, I have never used statically generated pages of Next.js good to have one here who has experience with it :)

[2021-01-19 20:29] #63 closed

[2021-01-19 20:39] arefaslani commented on #62
@vsachini Sorry for the late response, yes I think it should support it. Have you installed babel plugin module resolver or something like that?

[2021-01-19 20:40] arefaslani commented on #61
I'll close this issue and consider this problem as solved. Please fill free to reopen it if the problem still exists.

[2021-01-19 20:40] #61 closed

[2021-01-19 20:41] arefaslani commented on #55
@GautheyValentin Have you been successful in solving this problem?

[2021-01-19 23:46] GautheyValentin commented on #55
No :(

[2021-01-25 10:09] jorrit opened #66 "Could tags be pushed to GitHub?"
I would like to ask if version tags can be pushed for every release, as this project maintains no changelog file or GitHub releases. Having no git tags per version makes it hard to manually check the differences between releases.

If `npm version` is used to update the NPM version, a git tag should also be created. This tag can be pushed with `git push --tags`.

Thanks in advance!

[2021-01-29 06:17] arefaslani commented on #66
@jorrit Good point. I pushed the tags and I think adding changelog would be fine. Thanks for the hint 👍

[2021-01-29 06:17] #66 closed

[2021-01-29 14:00] jorrit commented on #66
Thanks!

[2021-02-17 07:51] message commented on #55
Why this script is included in `_app.js`? It's a webpack script that should be executed in **build phase only.** You should require `next-images` from `next.config.js`.

[2021-02-17 08:01] message opened #67 "require.context() doesn't use webpack module rules"
This is just a heads-up for you.

`require.context()` doesn't use `next-images` webpack rules as discussed [here](https://github.com/vercel/next.js/discussions/15437). Works as expected when you comment out [issuer](https://github.com/twopluszero/next-images/blob/9fc63ff3a12768c1fc15747db92be83212a52070/index.js#L26) property. That's a [webpack bug](https://github.com/webpack/webpack/issues/9309).

[2021-02-17 14:35] GautheyValentin commented on #55
It is already only in next.config.js
[code]

[2021-03-10 09:19] Anthodpnt commented on #61
Hello!

I'm reopening the issue because I keep having the exact same issue with the solution @arefaslani provided.

[2021-03-16 16:38] PudparK opened #68 "Does next-images overwrite next/image?"
When I installed next-images next/image started to give a "Module not found" error. I looked [here](https://github.com/twopluszero/next-images#with-nextimage) and thought this might be my answer, but came up short.

Update: For some reason next/image isn't in my next install. Weird. Not a next-images issue. sorry.

[2021-03-16 16:40] PudparK commented on #68
I'm starting to think next-images isn't the problem.

[2021-04-21 14:29] yesitsdave opened #69 "Redirects not working when using next-images"
Using next 10.0.3, it seems that ```async redirects()``` in the config is ignored if using next-images.

Other config options work fine, but pages which should be redirecting just return 404. Removing next-images fixes the issue.

[2021-04-22 12:37] muditgoel01 commented on #69
For redirects and rewrites to work properly in NextJs, you also need to ensure one more thing:

If you are using `trailingSlash: true` then your source paths must end with a slash.

[code]

Any other plugins or configurations that interfere with routing also need to be taken into account.

[2021-05-16 15:42] dustinlacewell opened #71 "How to use with MDX Remote?"
I'm just wondering if you could share how this might be used to allow importing images within next-mdx-remote?

[2021-05-16 16:55] dustinlacewell commented on #62
Hey I don't think absolute paths are working:

[code]

Changing it to a relative path lets it get imported no problem.

[2021-06-13 17:15] danthedaniel opened #72 "Error parsing input in convertFromString - next-images and nx svg processing issue"
Leaving a note here as this was very difficult to debug. If you're using `nx` and `next-images` together then an upgrade to nx 12 will break next-images because they (idiotically) decided to add in `svgr` by default. So if you were using `next-images` for SVGs nx is now going to try and process SVGs into react components, which will break your exiting project.

![Screen Shot 2021-06-11 at 3 28 40

[2021-06-15 19:01] tm1000 opened #73 "Broken in NextJS 11.0"
[code]

[2021-06-15 19:35] Digital-Coder commented on #73
exact same issue

[2021-06-15 19:46] tm1000 commented on #73
@Digital-Coder nice! what I find strange is that in NextJS 10 if you enable future webpack5 it works! So something between NextJS 10 and 11 with regards to webpack 5 is broken.

[2021-06-15 22:08] SrShark commented on #73
Same issue.

I have recently installed next@11.0.0 running on node.js v14.17.1

[code]

[2021-06-16 01:55] quypb commented on #73
Same issue with me.

[2021-06-16 03:42] kringt06 commented on #73
me too

[2021-06-16 03:57] cpv123 commented on #73
Same for me, but I've managed to get things working by not using this `next-images` plugin anymore. NextJS v11 seems to be handling things on its own now?

I'm importing a local PNG file and passing it as `src` to a NextJS Image component, and it's working fine.

[2021-06-16 04:10] thinceller commented on #73
Next.js 11 supports static image imports.
https://github.com/vercel/next.js/pull/24993

[2021-06-16 04:12] tm1000 commented on #73
I haven't been able to test yet but does that work with gif and svg?

[2021-06-16 04:28] cpv123 commented on #73
@tm1000 I've just tried with an SVG and it also works fine.

There is a small limitation for SVG, but I think it's a limitation from NextJS in general. With the PNG images, I rendered a NextJS Image component and used the new `placeholder="blur"` prop. With the SVG I cannot use this prop (because it only supports `jpeg,png,webp`) and so with an SVG I would have to provide my own 'blurred image' us

[2021-06-16 08:14] arefaslani commented on #73
Yesterday I played a little bit with assets module, but I had problems both with inline and resource types. It would be nice if we can pair to release next major version 🙂

[2021-06-16 08:36] jnv commented on #73
Webpack 5 imples that CJS imports (`require('...path/to/image.png')`) no longer work.

Digging through the PR mentioned by @thinceller it looks like that static images import in Next.js is supported only for `next/image` component, since the built-in image loader returns an object instead of string: https://github.com/vercel/next.js/pull/24993/files#r641938269 – so if you want to load images for o

[2021-06-16 18:10] tm1000 commented on #73
~~This doesnt seem to be the case. In my project I removed next-image from next.config.js and then installed nextjs 11 and it worked without changing to the Image component (im just using <image src= not <Image src (component))~~

~~I'm sure for your other cases its true though~~

@jnv is right. If you don't append .src to <img> tags then it will show up as [Object%20Object]

[2021-06-18 12:15] funkeeflow commented on #73
Same issue for me. I have problems importing svgs as markup not image with @svgr.
It worked with NextJs 10x but upgrading to NextJs 11 gives me the above error message using webpack 5.
`error - ./src/assets/svg/logo.svg`
`TypeError: unsupported file type: undefined (file: undefined)`

Already tried this hint here https://github.com/gregberge/svgr/issues/551#issuecomment-839772396
but with no luck

[2021-06-18 15:28] vuongddang commented on #73
I ran into the same issue, the problem is I used `@svgr/webpack` and `url-loader` for handling svg import. It doesn't work with webpack 5 anymore.

I simply removed the following webpack rules in next.config.js and it worked.

[code]

It seems that nextjs 11 supports importing svg images out of the box.

[2021-06-21 03:55] exeptionerror commented on #73
All Possible working solution added[ [Solved] Nextjs: TypeError: unsupported file type: undefined after update to v.11](https://exerror.com/nextjs-typeerror-unsupported-file-type-undefined-after-update-to-v-11/)

[2021-06-23 21:48] chris-erickson commented on #73
I think this is related, but for me all my images were inlining base64 on Next.js 11.0.1.  I set this option and I'm back to where I started.

[code]

_EDIT:_ Well it "works" but when deployed the images are extremely small white squares... 🤔

[2021-06-28 13:48] pkawula commented on #73
I have similiar issue when changed from next 10.2.0 to next 11.0.1
Importing images as `import MyImage from "../public/images/image.png"` and then using it in `<img src={MyImage} />` is not showing image but if you look into the source after  next compiles the base64 path opened in new tab shows only small white square

[2021-06-30 13:35] correttojs commented on #73
you can set the next.config

[code]

https://nextjs.org/docs/basic-features/image-optimization#disable-static-imports

[2021-07-05 13:12] cslz4 commented on #73
seems like if you have a Next Image component with "placeholder=blur" set and with a import static file as source, it makes component broken with "Error: Image with src "data:image/png;b...." has "placeholder='blur'" property but is missing the "blurDataURL" property."

[2021-07-11 04:41] Squallrx opened #74 "Support for typescript paths"
It seems like when importing an image using an absolute path from typescript, the code doesn't work.

For example, in my tsconfig file I have:

`
"paths": {
      "@components/*": ["src/components/*"],
      "@styles/*": ["src/assets/styles/*"],
      "@hooks/*": ["src/hooks/*"],
      "@images/*": ["src/assets/images/*"],
    }
`

Then on my component if I do something like

`
import Logo from '@

[2021-08-06 20:44] shivamCode0 commented on #68
If it is not an next-images issue, please close this pull request.

[2021-08-15 03:33] bytedance-training commented on #73
not working

[2021-08-15 12:58] flyotlin opened #75 "Does not work with images created at runtime"
I have a Next.js app with CMS that can upload images, save images locally, and then display images on Next.js again.

I found that Next.js does not show images created at runtime, only images that exist at build time. So I tried this module.
[static file serving](https://nextjs.org/docs/basic-features/static-file-serving)

I first set up `next.config.js` like this:
[code]

then I try to show my im

[2021-08-16 17:49] #68 closed

[2021-08-18 13:07] belgattitude commented on #73
`disableStaticImages: true` seems to work for me on nextjs 11.1.0... I had to clean the previous build first.

I don't use next/image, so I can't say if there's side-effects

[2021-08-18 14:52] jrmyio commented on #73
Isn't this an all or nothing type of solution?

[2021-08-31 13:30] alexthewilde commented on #55
Same here. `next-images` is required from within `next.config.js`, but its code is added to the app bundle.

[2021-10-18 09:43] jorrit commented on #73
Am I right that it is possible to replace `next-images` with next v11's static images when you replace:

[code]

with

[code]

Seems to work for me.

[2021-10-21 14:21] danoc opened #77 "File format regex doesn't properly escape first period"
Hello!

I think the regex on this line isn't working as intended:

https://github.com/twopluszero/next-images/blob/3095b206c804c205f101ac8c01c6c3ca8f9c4093/index.js#L24

In particular, the `\.` doesn't require that the file extension start with a period.

Here's an example.

[code]

Notice how `foo_image.svg` is considered a match even though there's an underscore, not a period, before the word `i

[2021-10-21 14:29] arefaslani commented on #77
Hey @danoc, that would be nice :) Thank you!

[2021-10-25 18:45] Webbrother commented on #73
The same issue for next@11.1.2

[2021-10-31 08:45] #77 closed

[2021-11-01 20:01] lvancraen commented on #55
When wrapping the regex `/\.\w+(?<!(s?c|sa)ss)$/i` with RegExp as such `new RegExp('\.\w+(?<!(s?c|sa)ss)$', 'i')` the error is resolved in Safari.

[2021-11-03 11:36] cl510804194 opened #80 "I want to use withImages, withTM at the same time...,so how how can I achieve it"
i see the demo like  `module.exports = withImages({
   ......
   .....
`
 but i also want to use with `next-transpile-module`, so how i can achieve it ?

[2021-11-03 14:41] #80 closed

[2021-11-12 03:25] panghaoyuan commented on #73
The same issue for next@11.1.2
[code]
not working

[2021-11-25 14:33] #55 closed

[2021-11-25 16:47] marcjlyoung opened #81 "v1.8.3 has broken some image imports"
Not to sure what happened but reverting to 1.8.2 without ^ solves the issue :)

`./src/images/buttons/searchButton.svg
Module parse failed: Unexpected token (1:0)
You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See https://webpack.js.org/concepts#loaders

|
| <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xm

[2021-11-25 17:03] marcjlyoung commented on #81
# How to fix the last commit

Why its broken:

Seems the regex is not escaped correctly using new RegExp

![image](https://user-images.githubusercontent.com/33526616/143480337-8de636c7-ccfd-4793-80d2-94f4ebd058ae.png)

Solution:
`new RegExp('\\.\\w+(?<!(s?c|sa)ss)$', 'i')`

# Temp solution

Adjust package.json to 1.8.2 without caret (^)

[2021-11-25 17:23] arefaslani commented on #81
@marcjlyoung Could you help me with creating a PR?

[2021-11-25 17:28] marcjlyoung commented on #81
Unfortunately I won't be able to assist right now, I quickly posted the solution so you could test it.  I'm away from my rig

[2021-11-25 17:32] arefaslani commented on #81
@marcjlyoung Just added the fix and published a new version. Thanks for the help 👍
Do you think this change is in conflict with [this PR](https://github.com/twopluszero/next-images/pull/79)?
CC @lvancraen

[2021-11-25 17:42] marcjlyoung commented on #81
No don't think there is a conflict, I just fixed the new regex param so that it created the same output as was previously there in v1.8.2, since it's still using the new regex function safari should be okay 👍

[2021-11-26 07:21] #81 closed

[2022-01-14 03:45] usamaehsan commented on #80
can you please tell how you achieved it?

[2022-01-19 12:42] mxomxo77mxo opened #83 "I see this error TypeError: unsupported file type: undefined (file: undefined), after 11 -> 12 migration, can you help me?"
![image](https://user-images.githubusercontent.com/62426263/150132783-7f9ac83e-44c3-476b-bb75-b4e4e4f527ff.png)

[2022-01-25 12:58] #83 closed

[2022-01-26 13:57] beinoriusju commented on #83
How did you solve this?

[2022-02-01 23:36] jmorey28 opened #84 "TypeError: Cannot convert undefined or null to object"
I am using withImages as documented in the Expo documentation but am getting TypeError: Cannot convert undefined or null to object.

Here is the link to the documentation https://docs.expo.dev/guides/using-nextjs/#image-support

And here is the implementation:

`
const { withExpo } = require("@expo/next-adapter");
const withImages = require("next-images");

module.exports = withExpo(
  withImages(

[2022-02-15 23:03] fcolacilli commented on #83
This worked for me:

In `next.config.js`:
[code]

And then, in the images I had with `src={StaticImage.src}`, I changed them to `src={StaticImage}`.

Then, I also had a vscode warning about static images types, which I solved with [this](https://github.com/parcel-bundler/parcel/issues/1445#issuecomment-392339363).

[2022-02-19 12:37] luopeihai commented on #15
I had the same stuff, Finally, I resolved the problem without changing the next config
example:

[code]

resolved code

[code]

[2022-03-18 16:32] gregogalante commented on #84
I have the same problem!

[2022-03-24 17:53] michygeek commented on #73
Anyway, the issue continue in 2022, lol!

[2022-03-28 03:52] gascenciom1998 opened #85 "next-images vs next/Image"
Can someone help me understand the tradeoffs between the two?

[2022-04-07 18:58] leerob commented on #85
Hey! Heads up that importing local images is now built-into `next/image` directly.

https://nextjs.org/docs/basic-features/image-optimization#local-images

[2022-04-15 17:48] donalffons commented on #73
For me the problem was that I was using git LFS for my images. The Vercel Github integration seemingly doesn't support that. Rolling my own CI/CD using a Github action (which is configured to pull LFS) solves this for me.

[2022-04-18 11:16] mooijtech commented on #73
It works if you edit your `next.config.js` to:
[code]

[2022-06-17 05:04] eldoy commented on #85
Vanilla HTML: `<img src="/img/logo.png">`, no NextJS needed. Please, for the sake of humanity, stop using React and Next.

[2022-07-15 16:43] theartofnonso commented on #84
I am facing the same issue as well.

I have followed the instructions in the docs.

The problem is because `withImages()` is not being recognised as a function

@jmorey28 @gregogalante did you manage to fix it?

Cheers

[2022-08-20 14:24] liquidautumn commented on #85
Now do ISR and image optimization with plain HTML.

[2022-09-20 13:56] acrabb commented on #84
Same issue here 😭
`    "next-images": "^1.8.4",`

[2022-09-20 13:59] acrabb commented on #85
Looks like `next/image` still doesn't work when using Expo + Next.js ?

So `next-images` might still be needed...but then issue https://github.com/twopluszero/next-images/issues/84 happens

[2022-10-05 08:39] varadan13 opened #87 "does next-images support Next12.x?"

[2022-10-05 08:41] arefaslani commented on #87
I have not tried it with Next12 unfortunately. Could you please try it and in case it doesn't, we can think of a fix.

[2022-10-24 11:47] ESCxjl commented on #87
have the same question, When loading the svg image in my project it gives the following error:
![image](https://user-images.githubusercontent.com/21059943/197518146-034ce0fc-032a-4740-b76f-50c968a6abb6.png)

even if I add @svgr/webpack，it does`t work too. Can you help me?

"next": "12.3.1",
"next-images": "^1.8.4",

[2022-10-26 10:22] karlhorky opened #88 "Support Next.js 13?"
Hi there, thanks for `next-images`! 🙌

Now that Next.js 13 is officially released, would you consider supporting this new version?

(maybe also version 11 and 12 as mentioned in the issues below)

- #87
- #73

[2022-10-26 10:23] karlhorky commented on #88
Or is the recommendation now to switch to `next/image` as mentioned here:

- #85

[2022-11-01 11:49] darelover opened #89 "Vulnerability CVE-2022-37601 due to loader-utils dependency"
`next-images` has a transitive dependency on vulnerable version of `loader-utils`. This is similar to next.js: https://github.com/vercel/next.js/issues/11149

Refer: https://nvd.nist.gov/vuln/detail/CVE-2022-37601

[2022-11-23 13:09] smnchoi commented on #84
This config works for me. cheers.

[code]

[2022-11-30 22:23] alidcast commented on #87
here's part of my config that works @ESCxjl
[code]

I do see warning about using invalid config property since this plugin requires it top-level
[code]